<footer id="footer">
    <div class="footer py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center" >
                    <div class="footer-social pt-4 text-center">
                        <a href="https://x.com/avtadell?s=08"><i class="fab fa-twitter"></i></a>
                        <a href="https://youtube.com/@sandeepsinha2006?si=ie_1M8PafeFSCLcT"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-dribbble"></i></a>
                        <a href="https://www.linkedin.com/in/sandeep-sinha-8b9825240?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Ba0YrZfKeRSqISVLjz4EMrw%3D%3D"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/s.i.nha_sandeep?igsh=MXB4azhhM2w4dnpzZQ=="><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="footer-copy">
                        <div class="copy-right text-center pt-5">
                            <p class="text-light">
                                &copy: <%= new Date().getFullYear(); %> Sandeep . Built with NODEJS & MONGODB
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>