
<div class="container">
    <div class="card" id="dashboard">
        <div class="mb-3">
            <div class="input-group">
                <input type="text" id="city-input" class="form-control" placeholder="Enter city name" spellcheck="false">
                <button class="btn btn-primary" id="search-btn" type="button">Search</button>
            </div>
        </div>

        <div class="weather text-center" id="weather-info" style="display: none;">
            <img src="" id="weather-icon" class="weather-icon">
            <h1 id="temp" class="temp"></h1>
            <h2 id="city-name" class="city"></h2>
            <div class="row details">
                <div class="col-6 d-flex align-items-center">
                    <img src="img/humidity.png" alt="Humidity">
                    <div class="ms-2">
                        <p id="humidity" class="humidity mb-0"></p>
                        <p class="mb-0">Humidity</p>
                    </div>
                </div>
                <div class="col-6 d-flex align-items-center">
                    <img src="img/wind.png" alt="Wind Speed">
                    <div class="ms-2">
                        <p id="wind-speed" class="wind mb-0"></p>
                        <p class="mb-0">Wind Speed</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="error-msg" style="display: none; color: red;"></div>
    </div>
</div>
